<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{include file="public/heads" /}}

    <title>添加组织架构</title>
</head>
<body>
<div class="content-body" >
    <blockquote class="layui-elem-quote layui-text">
        添加组织架构
    </blockquote>
    <form class="layui-form" id="form-auth-add">
        <div class="layui-form-item">
            {{:token()}}
            <input type="hidden" value="{{$datas['id']}}" name="id" />
            <label class="layui-form-label">组织架构</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" value="{{$datas['title']}}" autocomplete="off" placeholder="组织架构" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">上级</label>
            <div class="layui-input-block">
                <select name="pid" lay-filter="aihao">
                    <option value="0">顶级架构</option>
                    {{php}} $checked[$datas['pid']] = 'selected'; {{/php}}
                    {{foreach $data as $vo }}
                    <option value="{{$vo['id']}}"  {{php}}echo @$checked[$vo['id']];{{/php}} >{{$vo['title']}}</option>
                    {{/foreach}}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="describes" class="layui-textarea">{{$datas['describes']}}</textarea>
            </div>
        </div>

        <br/>




        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <!-- 示例-970 -->

</div>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;



        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');



        //监听提交
        form.on('submit(demo1)', function(data){
            var title = $('input[name=title]').val();
            if(title.length<=0)
            {
                layer.msg('架构名不能为空！', {icon: 5});
                return false;
            }
            var form = new FormData(document.getElementById("form-auth-add"));
            $.ajax({
                url:"{{:url('index/Framework/update')}}",
                async:false,
                contentType:false,
                processData:false,
                data:form,
                dataType:"json",
                type:"POST",
                success: function (data) {
                    if(data.code===2000)
                    {
                        layer.alert('修改成功',{icon:6},function(){
                            window.location.reload();
                        });
                    }else
                    {
                        layer.msg(data.msg,{icon:5});
                    }
                },
                error:function() {

                }
            });
            return false;
        });


    });

    $('#test1').click(function(){
        $('input[name=image]').click();
    });

</script>

</body>
</html>