<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{include file="public/heads" /}}

    <title>修改密码</title>
</head>
<body>
<div class="content-body" >
    <blockquote class="layui-elem-quote layui-text">
        修改密码
    </blockquote>
    <form class="layui-form" id="form-auth-add">
        {{:token()}}
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">原始密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="log_password"  placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写6到12位密码需要包含数字、字母</div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="logs_password" placeholder="请输入密码"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <br/>

        <div class="layui-form-item">
            <div class="layui-inline"></div>
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <!-- 示例-970 -->

</div>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>



    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;



        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        // 自定义规则
        form.verify({
            pass: [/^(?![^a-zA-Z]+$)(?!\D+$).{6,15}$/, '密码必须6到12位并且包含数字字母']
            ,pass2:function(value)
            {
                var password = $('input[name=log_password]').val();
                if(value !== password)
                    return '两次密码输入不一致';
            }
        });
        //监听提交
        form.on('submit(demo1)', function(data){

            var form = new FormData(document.getElementById("form-auth-add"));
            $.ajax({
                url:"{{:url('index/UserManage/updatePassword')}}",
                async:false,
                contentType:false,
                processData:false,
                data:form,
                dataType:"json",
                type:"POST",
                success: function (data) {
                    if(data.code===2000)
                    {
                        layer.alert('修改成功',{icon:6},function(){
                            window.location.reload();
                        });
                    }else
                    {
                        layer.msg(data.msg,{icon:5});
                    }
                },
                error:function() {

                }
            });
            return false;
        });


    });

    $('#test1').click(function(){
        $('input[name=image]').click();
    });

</script>

</body>
</html>