<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{include file="public/heads" /}}

    <title>员工信息</title>
</head>
<body>
<div class="content-body" >
    <blockquote class="layui-elem-quote layui-text">
        员工信息
    </blockquote>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="tel" name="log_name" disabled value="{{$users['log_name']}}" lay-verify="required|is_user" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="log_password" value="12344" disabled  placeholder="请输入密码" autocomplete="off" class="layui-input layui-disabled">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">真实姓名</label>
                <div class="layui-input-inline">
                    <input type="tel" value="{{$users['user_name']}}" disabled name="user_name" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">性别</label>
                {{php}}
                    $sex=[1=>'男',2=>'女'];
                {{/php}}
            <div class="layui-input-block">
               <input class="layui-input" value="{{$sex[$users['sex']]}}" disabled>
            </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                    <input type="tel"  disabled value="{{$users['phone']}}" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="tel" disabled value="{{$users['email']}}" name="email" lay-verify="required|email" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">部门职位</label>
            <div class="layui-input-block">


                <input type="tel" value="{{$data['title']}}" disabled lay-verify="required|email" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限:</label>
            <div class="layui-input-block">
                {{foreach $group as $v }}
                <label class="layui-form-label">{{$v['title']}}</label>
                {{/foreach}}
            </div>
        </div>



        <br/>







    <!-- 示例-970 -->

</div>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>



    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;



        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        // 自定义规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            },
            is_user:function(value)
            {

            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            var is_name = false;

            var id = "{{$users['id']}}";
            var userName = $("input[name=log_name]").val();
            var  email = $("input[name=email]").val();
            var phone = $("input[name=phone]").val();
            if(!isLogName(id,userName))
            {
                layer.msg("用户名已存在");
                return false;
            }
//            if(!isEmail(id,email))
//            {
//                layer.msg("邮箱已存在");
//                return false;
//            }
            if(!isPhone(id,phone))
            {
                layer.msg("手机号已存在");
                return false;
            }



            var form = new FormData(document.getElementById("form-auth-add"));
            $.ajax({
                url:"{{:url('index/UserManage/update')}}",
                async:false,
                contentType:false,
                processData:false,
                data:form,
                dataType:"json",
                type:"POST",
                success: function (data) {
                    if(data.code===2000)
                    {
                        layer.alert('修改成功',{icon:6},function(){
                            window.location.reload();
                        });
                    }else
                    {
                        layer.msg(data.msg,{icon:5});
                    }
                },
                error:function() {

                }
            });
            return false;
        });


    });

    $('#test1').click(function(){
        $('input[name=image]').click();
    });

    // 验证用户名是否存在
    function isLogName(id,value) {
        var is_name=false;
        $.ajax({
            url:"{{:url('index/Api/isUserName')}}",
            data:{id:id,userName:value},
            dataType:"json",
            type:"POST",
            async:false,
            success: function (data) {
                if(data.code==-1)
                    is_name=false;
                if(data.code==2000)
                    is_name = true;

            },
            error:function () {

            }
        });
        return is_name;
    }

    function isEmail(id,value) {
        var is_name=false;
        $.ajax({
            url:"{{:url('index/Api/isEmail')}}",
            data:{id:id,email:value},
            dataType:"json",
            type:"POST",
            async:false,
            success: function (data) {
                if(data.code==-1)
                    is_name=false;
                if(data.code==2000)
                    is_name = true;

            },
            error:function () {

            }
        });
        return is_name;
    }

    function isPhone(id,vaule) {
        var is_name=false;
        $.ajax({
            url:"{{:url('index/Api/isPhone')}}",
            data:{id:id,phone:vaule},
            dataType:"json",
            type:"POST",
            async:false,
            success: function (data) {
                if(data.code==-1)
                    is_name=false;
                if(data.code==2000)
                    is_name = true;

            },
            error:function () {

            }
        });
        return is_name;
    }
</script>

</body>
</html>